[Unit]
Description=Nport - Net Port Link
After=network.target

[Service]
ExecStart=/opt/bitnami/node/bin/node bin/server
WorkingDirectory=/home/bitnami/nport-server
Restart=always
User=bitnami
Group=bitnami
Environment=PATH=/opt/bitnami/node/bin:/usr/bin:/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target