[Unit]
Description=Nport - Net Port Link
After=network.target

[Service]
ExecStart=/opt/node/bin/node bin/server --port 3000
WorkingDirectory=/home/ubuntu/server
Restart=always
User=ubuntu
Group=ubuntu
Environment=PATH=/opt/node/bin:/usr/bin:/bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target